<?xml version="1.0"?>
<robot name="my_custom_bot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Define material colors  -->
    <material name = "grey">
        <color rgba = "0.7 0.7 0.1 1"/>
    </material>

    <material name="green">
        <color rgba="0 1 0 1"/>
    </material>

    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>

    <!-- links -->

    <link name= "base_footprint"></link>
    <link name = "base_link">
        <visual>
            <geometry>
                <box size="0.6 0.4 0.2"/>
            </geometry>
            <origin xyz="0 0 0.1" rpy = "0 0 0"/>
            <material name="green"/>
        </visual>
    </link>

    <link name="lidar_link">
        <visual>
            <geometry>
                <cylinder radius="0.1" length="0.05"/>
            </geometry>
            <origin xyz="0 0 0" rpy = "0 0 0"/>
            <material name="white"/>
        </visual>
    </link>

    <xacro:macro name="wheel_link" params="prefix">
        <link name="${prefix}_wheel_link">
            <visual>
                <geometry>
                    <cylinder radius="0.1" length="0.05"/>
                </geometry>
                <origin xyz="0 0 0" rpy = "1.57 0 0"/>
                <material name="white"/>
            </visual>
        </link>
    </xacro:macro>

    <!-- call the xacro macro to create wheel links -->
    <xacro:wheel_link prefix="rear_right"/>
    <xacro:wheel_link prefix="rear_left"/>

    <!-- <link name="rear_right_wheel_link">
        <visual>
            <geometry>
                <cylinder radius="0.1" length="0.05"/>
            </geometry>
            <origin xyz="0 0 0" rpy = "1.57 0 0"/>
            <material name="white"/>
        </visual>
    </link>

    <link name="rear_left_wheel_link">
        <visual>
            <geometry>
                <cylinder radius="0.1" length="0.05"/>
            </geometry>
            <origin xyz="0 0 0" rpy = "1.57 0 0"/>
            <material name="white"/>
        </visual>
    </link> -->

    
    <link name="front_caster_wheel">
        <visual>
            <geometry>
                <sphere radius="0.05"/>
            </geometry>
            <origin xyz="0 0 0" rpy = "0 0 0"/>
            <material name="white"/>
        </visual>

    </link>

    <!-- Joints  -->
    <joint name= "base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="base_lidar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="lidar_link"/>
        <origin xyz="0 0 0.225" rpy="0 0 0"/>
    </joint>

    <joint name="base_rear_right_wheel_joint" type="continuous">
        <parent link="base_link"/>
        <child link="rear_right_wheel_link"/>
        <origin xyz="0.15 -0.2 0" rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
    </joint>

    <joint name="base_rear_left_wheel_joint" type="continuous">
        <parent link="base_link"/>
        <child link="rear_left_wheel_link"/>
        <origin xyz="0.15 0.2 0" rpy="0 0 0"/>
        <axis xyz="0 1 0"/>
    </joint>

    <joint name="base_front_caster_wheel_joint" type="continuous">
        <parent link="base_link"/>
        <child link="front_caster_wheel"/>
        <origin xyz="-0.15 0 -0.05" rpy="0 0 0"/>
        <axis xyz="0 0 1"/>
    </joint>
</robot>